@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  padding: 0;
  margin: 0;
  background: #333333;
  font-family: "Poppins", sans-serif;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

a:hover{
  text-decoration: none;
  color: #726659;
}

a:visited {
  display:none;
}

/************************** HEADER *********************************************/

.navigation{
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  opacity: 90%;
  width: 100%;
  z-index: 9999;
}


header li {
  float: left;
  font-size: .9rem;
  justify-content: space-between;
}

header li a {
  color: #eeeeee;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}

/****************************** INFOR%ATIONS ***********************************/

#informations{
  background: linear-gradient(180deg, rgba(0,59,84,1) 0%, rgba(53,77,85,1) 50%, rgba(51,51,51,1) 100%);
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". nom ."
    "informations bouton photo";
}

.photo {
  grid-area: photo;

}

.photo img {
  position: relative;
  left: 10%;
  border-radius: 25%;
  border: 1px solid #eeeeee;
}

.bouton{
  grid-area: bouton;
}

.bouton a{
  position: relative;
  left: 25%;
  top: 25%;
  padding: 25px 80px;
  border: 1px solid #eeeeee;
}

.bouton a:hover{
  transition: .3s ease-in;
  border-color: #726659;
}

.nom {
  grid-area: nom;
}

.nom h1{
  position: relative;
  left: 20%;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 120px;
  padding: 15px 20px;
  color: #eeeeee;
  text-shadow: 0px 0px 10px rgba(96,146,206,0.8);
}

.nom #line{
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  margin: 15px 0;
}

.nom h2{
  position: relative;
  left: 50%;
  transform: translateX(-38%);
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 15px 20px;
  padding: 50px 40px;
  color: #eeeeee;
  text-shadow: 0px 0px 10px rgba(96,146,206,0.8);
}

.informations {
  grid-area: informations;
}

.informations h5{
  position: relative;
  left: 50%;
  font-size: 1.2rem;
  color: #eeeeee;
  padding: 0 10px;
  margin: 25px 10px
}


/************************* PARCOURS ***********************************************/

#parcours{
  max-width: 800px;
  margin: 40px auto 188px auto;
  padding: 40px 30px 100px 30px;
  background: url('./media/parcours.jpg') no-repeat fixed 50% 50%;
  background-size: cover;
  border-radius: 8px;
  box-shadow: -1px -1px 8px #283655;
}

#parcours h3{
  font-size: 2.5rem;
  padding-bottom: 30px;
}

#parcours h4{
  font-size: 1.6rem;
  color: #7800ab;
  margin-left: 20px;
}

#parcours h6{
  font-style: italic;
  color: #130fff;
  margin-left: 20px;
}

#parcours p{
  line-height: 1.9rem;
}

.timeline{
  border-top: 3px solid;
  border-image: linear-gradient(to right, #130fff, #7800ab);
  border-image-slice: 1;
  margin: 0;
  padding: 40px;
  position: relative;
}

.timeline:nth-child(1)::after{
  content: '▲';
  color: #7800ab;
  position: absolute;
  top: -10px;
  right: -10px;
  box-sizing: content-box !important;
}

.timeline:nth-child(1){
  border-bottom: 3px  solid;
  border-top: none;
  width: 80%;
}

.timeline:nth-child(2){
  border-top: none;
}

.timeline:nth-child(odd){
  border-right: 3px solid;
  padding-left: 0;
}

.timeline:nth-child(even){
  border-left: 3px solid;
  padding-right: 0;
}

/************************** COMPETENCES ****************************************/

#competences{
  width: 100%;
  height: 100vh;
  background: #333333;
}

.grid-container-competence {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "progression progression progression . competences competences competences"
    "progression progression progression . competences competences competences"
    "progression progression progression . competences competences competences";
}

.progression {
  grid-area: progression;
  margin: 0;
  height: 640px;
  clip-path: polygon(0 6%, 100% 0, 89% 98%, 2% 100%);
  background: linear-gradient(-45deg, #5C258D, #4389A2);
  background-size: 400% 400%;
  animation: gradient1 10s ease infinite;
}

.competences {
  grid-area: competences;
  margin: 0;
  height: 640px;
  clip-path: polygon(50% 0%, 100% 1%, 100% 98%, 9% 100%, 0 2%);
  background: radial-gradient(circle, rgba(97,67,133,1) 0%, rgba(81,99,149,1) 100%);
  background-size: 400% 400%;
  animation: gradient2 10s ease infinite;
}

@keyframes gradient1 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient2 {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/************* Progress bar *********************************/

.suite-office{
  position: relative;
  top: 10%;
  padding: 20px 15px;
  margin: 10px;
}

.suite-office h3{
  font-size: 1.2rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(149,149,149,1);
}

.c{
  position: relative;
  top: 10%;
  padding: 20px 15px;
  margin: 10px;
}

.c h3{
  font-size: 1.2rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(149,149,149,1);
}

.anglais{
  position: relative;
  top: 10%;
  padding: 20px 15px;
  margin: 10px;
}

.anglais h3{
  font-size: 1.2rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(149,149,149,1);
}

.python{
  position: relative;
  top: 10%;
  padding: 20px 15px;
  margin: 10px;
}

.python h3{
  font-size: 1.2rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(149,149,149,1);
}

.progression progress[value]{
  width: 450px;
  height: 25px;
  color: #00d9ff;
}

/************************************ competences diverse **********************/
.competences{
  overflow: hidden;
}

.competences h5{
  font-size: 1.2rem;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(149,149,149,1);
}

.competences h5:nth-child(1){
  color: #251954;
  position: relative;
  top: 5%;
  left: 40%;
  transform: translateX(-25%);
}

.competences h5:nth-child(2){
  color: #251954;
  position: relative;
  top: 70%;
  left: 45%;
  transform: translateX(-25%);
}

.competences h5:nth-child(3){
  color: #251954;
  position: relative;
  top: 25%;
  left: 70%;
  transform: translateX(-25%);
}

.competences h5:nth-child(4){
  color: #251954;
  position: relative;
  top: 5%;
  left: 80%;
}

.competences h5:nth-child(5){
  color: #251954;
  position: relative;
  top: 30%;
  left: 90%;
  transform: translateX(-25%);
}

.competences h5:nth-child(6){
  color: #251954;
  position: relative;
  top: -20%;
  left: 45%;
  transform: translateX(-25%);
}


/************************************** EXPERIENCES ******************************/

/* .experiences h2{
  margin: 50px 550px;
  font-size: 2rem;
  text-transform: uppercase;
  color: #eeeeee;
}

.experiences p{
  color: #eeeeee;
  font-size: 1rem;
  margin: 20px 0;
}

.experiences h3{
  margin: 15px 0;
  text-transform: uppercase;
  color: #eeeeee;
  font-size: 1.3rem;

}

.experiences h4{
  margin: 25px 0;
  text-transform: uppercase;
  color: #eeeeee;
  font-size: 1.1rem;
}

.central h3, .central h4, .central p{
  position: relative;
  top: 50px;
  padding: 15px;
}

.central iframe{
  position: absolute;
  left: 50%;
  top: 550%;
}

.montbaray h3, .montbaray h4, .montbaray p{
  position: relative;
  padding: 15px;
  top: 400px;
}

.montbaray iframe{
  position: absolute;
  left: 50%;
  top: 625%;
} */
/******************************* FOOTER ******************************************/
footer{
  text-align: center;
  padding: 100px 50px 50px 50px;
}

footer h3{
  padding: 0 0 60px 0;
  font-size: 2.5rem;
  color: #eeeeee;
}

.footer-icons{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 60%;
}

.network{
  font-size: 4rem;
  border: 1px solid #b3aca7;
  padding: 30px 45px;
  color: #b3aca7;
  z-index: -1 !important;
  border-radius: 50%;
}

.network:hover, textarea:hover, input:hover, .form-button:hover{
  background: #b3aca7;
  transition: all .3s ease-in-out;
  color: #e2dedb;
}

.form-container{
  padding-top: 20px;
}

#reused_form{
  position: relative;
  margin: 50px auto;
}

input{
  font-size: .85rem;
  width: 470px;
  height: 50px;
  padding: 0 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: 1px solid #b3aca7;
  border-bottom: none;
}

textarea{
  width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: 1px solid #b3aca7;
  resize: none;
}

input::placeholder, textarea::placeholder, input:focus::placeholder, textarea:focus::placeholder{
  color: #aca49c;

}

input:hover::placeholder, textarea:hover::placeholder, input:hover:focus::placeholder, textarea:hover:focus::placeholder{
  color: #e2dedb;
}

.form-button{
  background: transparent;
  border: 1px solid #b3aca7;
  padding: 20px 75px;
  margin: 14px 0 -20px 0;
  color: #aca49c;
}

.form-container h4{
  font-size: 2rem;
}

.arrow{
  width: 50px;
  margin: 20px auto;
  padding-top: 15px;
  animation: arrow linear 1.5s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  0%{
    transform: translateY(0px);
  }

  28%{
    transform: translateY(8px);
  }

  100%{
    transform: translateY(0px);
  }
}

.arrow a{
  font-size: 3rem;
  border: none;
  color: #aca49c;
}

.arrow:hover i{
  transform: scale(1.6);
  transition: .5s ease-in-out;
  color: #e2dedb;
}

footer p{
  font-size: .9rem;
  letter-spacing: .3rem;
  color: #eeeeee;
}

#copyright:hover{
  text-decoration: none;
  color: #eeeeee;
  cursor: default;
}


/*********************** SCROLLBAR ************************************************/

/* CHROME */

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb{
  background: #4a4a4a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background: #757575;
}
